#menu-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  left: -100%;
  padding-left: 30px;
  background-color: white;
  overflow: hidden;
  /* fix text transition issue for .left and .right but need to
     overwrite left and right properties in .right */
  height: 100%;
  text-align: center;
  transition: right 0.2s, left 0.2s;
}

#menu-overlay.show {
  right: 75vw;
  left: 0;
}