#top-bar {
  z-index: 1;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 30px;
  padding-right: 75vw;
  text-align: center;
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1) 40%);
}

.top-bar-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}