.app-container {
  height: 100%;
  padding: 80px 75vw 30px 30px;
}

#photo-display-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 3;
  visibility: hidden;
  transition: background-color .15s, visibility .15s;
}

#photo-display-overlay.show {
  background-color: white;
  visibility: visible;
}

#menu-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  left: -100%;
  padding-left: 30px;
  background-color: white;
  overflow: hidden;
  /* fix text transition issue for .left and .right but need to
     overwrite left and right properties in .right */
  height: 100%;
  text-align: center;
  transition: right 0.2s, left 0.2s;
}

#menu-overlay.show {
  right: 75vw;
  left: 0;
}
