.app-container {
  height: 100%;
  padding: 80px 75vw 30px 30px;
}

#photo-display-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 3;
  visibility: hidden;
  transition: background-color .2s, visibility .2s;
}

#photo-display-overlay.show {
  background-color: white;
  visibility: visible;
}
